:root {
  --color: #64b937;
  --gray: #f7f8fa;
  --border: #e3e3e3;
}
.not-found {
  width: 100%;
  margin: 20rem 0;
  position: fixed;
  display: grid;
  justify-content: center;
}
.not-found .oops {
  align-items: center;
}
.search_bar input:-webkit-autofill,
.search_bar input:-webkit-autofill:hover,
.search_bar input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  height: 12px;
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

.search_bar button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}
.not-found .oops h1 {
  text-transform: capitalize;
  color: rgb(238, 126, 126);
  margin: 0;
}
.not-found img {
  color: #000;
  width: 80px;
  padding: 0;
  height: 100px;
  margin: 0;
}
.not-found p {
  margin-top: 5px;
  font-size: 18px;
  padding-top: 0;
  color: black;
}
.search_bar .search-button {
  background-color: var(--color);
  border-radius: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
}
.search_bar .search_field {
  width: 15vw;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
}
.dropdown-content img {
  width: 40px;
  height: 40px;
}
.search-options {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--border);
  width: 9rem;
}
.search-options .searchButton {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 8px 0 8px 0;
  width: 7.1vw;
  border: none;
  border-radius: 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #555555;
  outline: none !important;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  top: 1.1rem;
  width: 28rem;
  right: -2.5rem;
  position: absolute;
  background-color: var(--gray);
  height: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: 1s ease-in-out;
}
.dropdown-content select {
  width: 97%;
  height: 40px;
  margin: 8px 6px 0 6px;
  border: 1px solid var(--border);
}
.dropdown-content select:focus,
select:focus-visible {
  outline: none;
}
.searchButton:hover .dropdown-content {
  display: block;
}

.dropdown-content .input-options {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 8px 6px;
  justify-content: space-evenly;
}
.dropdown-content .input-options input {
  height: 30px;
  margin: 0;
  background-color: white;
  color: #000;
  padding-left: 5px;
  outline: none;
  border: 1px solid var(--border);
}
.dropdown-content .input-options input::placeholder {
  color: #000;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: semi-bold;
  opacity: 0.5;
}
.arrow {
  margin: 3px 0 0 3px;
}
.input-options p {
  color: red;
  padding: 0;
  margin: -8px 0 0 0;
  width: 100%;
  font-size: 14px;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .search_bar {
    position: relative;
    left: 1rem;
    max-width: 21rem;
  }
  .search-options {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .dropdown-content {
    display: flex;
    flex-direction: column;
    top: 1.1rem;
    width: 21.2rem;
    right: -2.5rem;
    position: absolute;
    background-color: var(--gray);
    height: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s ease-in-out;
  }
  .search_bar .search_field {
    width: 65vw;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
    color: black;
  }
  .arrow {
    margin: 3px 0 0 20px;
  }
  .dropdown-content select {
    font-size: 18px;
    height: 45px;
  }
  .search-options .searchButton {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 8px 0 8px 0;
    width: 7.1vw;
    border: none;
    border-radius: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #555555;
    outline: none !important;
  }
  .search-options .searchButton img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .searchButton span {
    display: none;
  }
  .search-options {
    width: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_bar {
    position: relative;
    left: 0rem;
    top: 1.8rem;
    max-width: 20rem;
  }
  .dropdown-content {
    display: flex;
    flex-direction: column;
    top: 1.1rem;
    width: 20rem;
    right: -2.5rem;
    position: absolute;
    background-color: var(--gray);
    height: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s ease-in-out;
  }
  .search_bar .search_field {
    width: 65vw;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
    color: black;
  }
  .arrow {
    margin: 3px 0 0 20px;
  }
  .dropdown-content select {
    font-size: 18px;
    height: 45px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .search_bar {
    position: relative;
    left: -5.6rem;
    top: 4.5rem;
    max-width: 20rem;
  }
  .search-options {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .search_bar {
    position: relative;
    left: 1rem;
    top: 4.5rem;
    max-width: 20rem;
  }
  .search-options {
    width: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchButton span {
    display: none;
  }
  .dropdown-content {
    display: flex;
    flex-direction: column;
    top: 1.1rem;
    width: 20rem;
    right: -2.5rem;
    position: absolute;
    background-color: var(--gray);
    height: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s ease-in-out;
  }
  .search_bar .search_field {
    width: 65vw;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
    color: black;
  }
  .arrow {
    margin: 3px 0 0 20px;
  }
  .dropdown-content select {
    font-size: 18px;
    height: 45px;
  }
}
